<!-- begin article -->
<div class="field field-name-body field-type-text-with-summary field-label-hidden">
  <div class="field-items">
    <div class="field-item" property="content:encoded">
      <!-- begin article body -->
      {{> 02-components/00-article/01-article-body }}
      <!-- end article body -->
    </div>
  </div>
</div>
