{{{ php_docblock }}}
<article class="{{ comment_classes }} clearfix" {{{ comment_attributes }}}>

  {{# new }}
    <span class="new" style="display: none;">{{{ new }}}</span>
  {{/ new }}

  {{{ title_prefix }}}
  <h3 {{{ title_attributes }}}>{{{ anchor_open }}}{{{ title }}}{{{ anchor_close }}}</h3>
  {{{ title_suffix }}}

  <div class="submitted">
    {{> 00-elements/02-images/04-avatar }}
    {{> 01-compounds/00-text/04-permalink }}
    {{> 01-compounds/00-text/00-byline }}
  </div>

  <div class="content" {{{ content_attributes }}}>
    {{> 01-compounds/01-blocks/03-single-comment }}
    {{{ fpo_template_content }}}
    {{# signature }}
    <div class="user-signature clearfix">
      {{{ signature }}}
    </div>
    {{/ signature }}

    {{{ links }}}
  </div>

</article>
