{{{ fpo_phpdoc }}}
<div class="layout-container">
  <header class="header cf">

    <div id="block-fepper-branding">
      {{# img.logo }}
        {{# homepage? }}
          {{^ site_name? }}<h1>{{/ site_name? }}
        {{/ homepage? }}
        {{> 01-compounds/01-blocks/04-logo.mustache }}
        {{# homepage? }}
          {{^ site_name? }}</h1>{{/ site_name? }}
        {{/ homepage? }}
      {{/ img.logo }}
      {{{ fpo_branding }}}
    </div> <!-- /#block-fepper-branding -->

    {{> 02-components/03-navigation/00-primary-nav }}

    {{# demo_site? }}
      {{> 03-templates/region(
        region_classes: 'region region-header',
        "templates-block--header?": true
      ) }}
    {{/ demo_site? }}
    {{{ fpo_header }}}

  </header> <!-- /.header -->

  {{{ fpo_breadcrumb }}}

  {{# alert }}
    {{> 01-compounds/00-text/02-alert }}
  {{/ alert }}

  <main id="main" role="main">
    <a id="main-content" tabindex="-1"></a>

    <div class="layout-content">
      {{{ fpo_highlighted }}}

      {{^ front? }}
        {{{ title_prefix }}}
        {{# page_title }}
          <h1 class="title" id="page-title">{{{ page_title }}}</h1>
        {{/ page_title }}
        {{{ title_suffix }}}
      {{/ front? }}

      {{# templates-region~~pages-homepage? }}
        {{> 03-templates/region(
          region_classes: 'region region-content',
          "templates-block--main~~pages-homepage?": true
        ) }}
      {{/ templates-region~~pages-homepage? }}
      {{# templates-region~~pages-blog? }}
        {{> 03-templates/region(
          region_classes: 'region region-content',
          "templates-block--main~~pages-blog?": true
        ) }}
      {{/ templates-region~~pages-blog? }}
      {{# templates-region~~pages-article? }}
        {{> 03-templates/region(
          region_classes: 'region region-content',
          "templates-block--main~~pages-article?": true
        ) }}
      {{/ templates-region~~pages-article? }}
      {{# templates-region~~pages-new-install? }}
        {{> 03-templates/region(
          region_classes: 'region region-content',
          "templates-block--main~~pages-new-install?": true
        ) }}
      {{/ templates-region~~pages-new-install? }}
      {{{ fpo_template_content }}}
    </div> <!-- /.layout-content -->

    {{# sidebar_first? }}
      <div id="sidebar-first" class="column sidebar">
        {{# templates-region~~pages-homepage? }}
          {{> 03-templates/region(
            region_classes: 'region region-sidebar-first',
            "templates-block--sidebar1~~pages-homepage?": true
          ) }}
        {{/ templates-region~~pages-homepage? }}
        {{# templates-region~~pages-new-install? }}
          {{> 03-templates/region(
            region_classes: 'region region-sidebar-first',
            "templates-block--sidebar1~~pages-new-install?": true
          ) }}
        {{/ templates-region~~pages-new-install? }}
        {{{ fpo_sidebar_first }}}
      </div> <!-- /#sidebar-first -->
    {{/ sidebar_first? }}

    {{# sidebar_second? }}
      <div id="sidebar-second" class="column sidebar">
        {{# templates-region~~pages-article? }}
          {{> 03-templates/region(
            region_classes: 'region region-sidebar-second',
            "templates-block--sidebar2~~pages-article?": true,
          ) }}
        {{/ templates-region~~pages-article? }}
        {{^ templates-region~~pages-article? }}
          {{> 03-templates/region(
            region_classes: 'region region-sidebar-second',
            "templates-block--sidebar2?": true
          ) }}
        {{/ templates-region~~pages-article? }}
        {{{ fpo_sidebar_second }}}
      </div> <!-- /#sidebar-second -->
    {{/ sidebar_second? }}

  </main> <!-- /#main -->

  <footer id="footer" role="contentinfo">
    {{# demo_site? }}
      {{> 03-templates/region(
        region_classes: 'region region-footer',
        "templates-block--footer?": true
      ) }}
    {{/ demo_site? }}
    {{# templates-region~~pages-new-install? }}
      {{> 03-templates/region(
        region_classes: 'region region-footer',
        "templates-block--footer~~pages-new-install?": true
      ) }}
    {{/ templates-region~~pages-new-install? }}
    {{{ fpo_footer }}}
  </footer> <!-- /#footer -->

</div> <!-- /.layout-container -->
