{{{ fpo_phpdoc }}}
{{# content? }}
  <div class="{{ region_classes }}">

    {{! BEGIN HEADER CONTENT }}

    {{# templates-block--header? }}
      {{> 03-templates/block(
        block_html_id: 'block-search-form',
        block_classes: 'block block-search',
        block_subject: 'Search form',
        "compounds-search?": true
      ) }}
    {{/ templates-block--header? }}

    {{! END HEADER CONTENT }}


    {{! BEGIN MAIN CONTENT }}

    {{# templates-block--main--pages-homepage? }}
      {{> 03-templates/block(
        block_html_id: 'block-system-main',
        block_classes: 'block block-system',
        "templates-views-view--pages-homepage__hero?": true
      ) }}
      {{> 03-templates/_block--views--recent-content-block-1(
        "templates-container--pages-homepage__subs?": true
      ) }}
    {{/ templates-block--main--pages-homepage? }}
    {{# templates-block--main--pages-blog? }}
      {{> 03-templates/block(
        block_html_id: 'block-system-main',
        block_classes: 'block block-system',
        "templates-views-view--pages-blog?": true
      ) }}
    {{/ templates-block--main--pages-blog? }}
    {{# templates-block--main--pages-article? }}
      {{> 03-templates/block(
        block_html_id: 'block-system-main',
        block_classes: 'block block-system',
        "templates-node--pages-article?": true
      ) }}
    {{/ templates-block--main--pages-article? }}

    {{! END MAIN CONTENT }}


    {{! BEGIN SIDEBAR1 CONTENT }}

    {{# templates-block--sidebar1--pages-homepage? }}
      {{> 03-templates/block(
        block_html_id: 'block-views-recent-content-block-2',
        block_classes: 'block block-views',
        "block_subject?": true,
        block_subject: 'Latest posts',
        "templates-views-view--pages-homepage__hoagies?": true
      ) }}
    {{/ templates-block--sidebar1--pages-homepage? }}

    {{! END SIDEBAR1 CONTENT }}


    {{! BEGIN SIDEBAR2 CONTENT }}

    {{# templates-block--sidebar2--pages-article? }}
      {{> 03-templates/block(
        block_html_id: 'block-views-comments-recent-block',
        block_classes: 'block block-views',
        "components-related-posts?": true
      ) }}
    {{/ templates-block--sidebar2--pages-article? }}
    {{# templates-block--sidebar2? }}
      {{> 03-templates/block(
        block_html_id: 'block-views-comments-recent-block',
        block_classes: 'block block-views',
        "components-recent-comments?": true
      ) }}
    {{/ templates-block--sidebar2? }}

    {{! END SIDEBAR2 CONTENT }}


    {{{ fpo_template_content }}}

  </div>
{{/ content? }}
