{{{ php_docblock }}}
{{{ wrapper_prefix }}}
  {{# title }}
    <h3>{{{ title }}}</h3>
  {{/ title }}
  {{{ list_type_prefix }}}

  {{# templates-views-view-list__row~~pages-homepage__dagwood? }}
    {{# dagwood }}
      {{> 03-templates/__views-view-list__row(
        views-view-list__row_classes: 'views-row',
        "templates-node~~pages-homepage__dagwood?": true
      ) }}
    {{/ dagwood }}
  {{/ templates-views-view-list__row~~pages-homepage__dagwood? }}
  {{# templates-views-view-list__row~~pages-blog? }}
    {{# latest_posts }}
      {{> 03-templates/__views-view-list__row(
        views-view-list__row_classes: 'views-row',
        "templates-node~~pages-blog?": true
      ) }}
    {{/ latest_posts }}
  {{/ templates-views-view-list__row~~pages-blog? }}
  {{# templates-views-view-list__row~~templates-block--sidebar2__posts? }}
    {{# latest_posts }}
      {{> 03-templates/__views-view-list__row(
        views-view-list__row_classes: 'views-row',
        "elements-content-list-item~~templates-block--sidebar2__posts?": true
      ) }}
    {{/ latest_posts }}
  {{/ templates-views-view-list__row~~templates-block--sidebar2__posts? }}
  {{# templates-views-view-list__row~~templates-block--sidebar2__comments? }}
    {{# comment_placeholders }}
      {{> 03-templates/__views-view-list__row(
        views-view-list__row_classes: 'views-row',
        "elements-content-list-item~~templates-block--sidebar2__comments?": true
      ) }}
    {{/ comment_placeholders }}
  {{/ templates-views-view-list__row~~templates-block--sidebar2__comments? }}
  {{{ fpo_template_content }}}

  {{{ list_type_suffix }}}
{{{ wrapper_suffix }}}
