{{{ php_docblock }}}
<div class="{{ views-view_classes }}">
  {{{ title_prefix }}}
  {{# title }}
    {{{ title }}}
  {{/ title }}
  {{{ title_suffix }}}
  {{# header }}
    <div class="view-header">
      {{{ header }}}
    </div>
  {{/ header }}

  {{# exposed }}
    <div class="view-filters">
      {{{ exposed }}}
    </div>
  {{/ exposed }}

  {{# attachment_before }}
    <div class="attachment attachment-before">
      {{{ attachment_before }}}
    </div>
  {{/ attachment_before }}

  {{# rows? }}
    <div class="view-content">

      {{# templates-views-view-unformatted~~pages-homepage__hero? }}
        {{> 03-templates/views-view-unformatted(
          "templates-views-view-unformatted__row~~pages-homepage__hero?": true
        ) }}
      {{/ templates-views-view-unformatted~~pages-homepage__hero? }}
      {{# templates-views-view-list~~pages-homepage__dagwood? }}
        {{> 03-templates/views-view-list(
          wrapper_prefix: '<div class="item-list">',
          list_type_prefix: '<ul>',
          "templates-views-view-list__row~~pages-homepage__dagwood?": true,
          list_type_suffix: '</ul>',
          wrapper_suffix: '</div>'
        ) }}
      {{/ templates-views-view-list~~pages-homepage__dagwood? }}
      {{# templates-views-view-list~~pages-blog? }}
        {{> 03-templates/views-view-list(
          wrapper_prefix: '<div class="item-list">',
          list_type_prefix: '<ul>',
          "templates-views-view-list__row~~pages-blog?": true,
          list_type_suffix: '</ul>',
          wrapper_suffix: '</div>'
        ) }}
      {{/ templates-views-view-list~~pages-blog? }}
      {{# templates-views-view-list~~templates-block--sidebar2__posts? }}
        {{> 03-templates/views-view-list(
          wrapper_prefix: '<div class="item-list">',
          list_type_prefix: '<ul>',
          "templates-views-view-list__row~~templates-block--sidebar2__posts?": true,
          list_type_suffix: '</ul>',
          wrapper_suffix: '</div>'
        ) }}
      {{/ templates-views-view-list~~templates-block--sidebar2__posts? }}
      {{# templates-views-view-list~~templates-block--sidebar2__comments? }}
        {{> 03-templates/views-view-list(
          wrapper_prefix: '<div class="item-list">',
          list_type_prefix: '<ul>',
          "templates-views-view-list__row~~templates-block--sidebar2__comments?": true,
          list_type_suffix: '</ul>',
          wrapper_suffix: '</div>'
        ) }}
      {{/ templates-views-view-list~~templates-block--sidebar2__comments? }}
      {{{ fpo_template_content }}}

    </div>
  {{/ rows? }}
  {{# empty }}
    <div class="view-empty">
      {{{ empty }}}
    </div>
  {{/ empty }}

  {{# pager? }}
    {{> 02-components/03-navigation/01-pagination }}
  {{/ pager? }}

  {{# attachment_after }}
    <div class="attachment attachment-after">
      {{{ attachment_after }}}
    </div>
  {{/ attachment_after }}

  {{# more? }}
    {{> 01-compounds/00-text/03-more-link }}
  {{/ more? }}

  {{# footer }}
    <div class="view-footer">
      {{{ footer }}}
    </div>
  {{/ footer }}

  {{# feed_icon }}
    <div class="feed-icon">
      {{{ feed_icon }}}
    </div>
  {{/ feed_icon }}

</div><?php /* class view */ ?>
