// /////////////////////////////////////////////////////////////////////////////
// variables.styl is shared between browser JavaScripts and Stylus.
// /////////////////////////////////////////////////////////////////////////////
@import '../../../_scripts/src/variables'

// /////////////////////////////////////////////////////////////////////////////
// The base on which the rest of the styles are built.
// /////////////////////////////////////////////////////////////////////////////
@import 'base/0-base/00-variables'
@import 'base/0-base/01-helpers'
@import 'base/0-base/02-reset'
@import 'base/0-base/04-global'
@import 'base/0-base/05-header'
@import 'base/0-base/06-layout'
@import 'base/0-base/07-footer'

// /////////////////////////////////////////////////////////////////////////////
// Styles specific to Element subtypes.
// /////////////////////////////////////////////////////////////////////////////
@import 'base/00-elements/00-text'
@import 'base/00-elements/01-lists'
@import 'base/00-elements/02-images'

// /////////////////////////////////////////////////////////////////////////////
// Styles specific to Compound subtypes.
// /////////////////////////////////////////////////////////////////////////////
@import 'base/01-compounds/00-text'
@import 'base/01-compounds/01-blocks'
@import 'base/01-compounds/02-forms'

// /////////////////////////////////////////////////////////////////////////////
// Styles specific to Component subtypes.
// /////////////////////////////////////////////////////////////////////////////
@import 'base/02-components/02-comments'
@import 'base/02-components/03-navigation'

// /////////////////////////////////////////////////////////////////////////////
// Styles specific to Pages.
// /////////////////////////////////////////////////////////////////////////////
@import 'base/04-pages/02-article'

// Only in Drupal, not Fepper.
#name-and-slogan
  float: left
  margin: 0.4em 1em
#site-name
  font-size: 2em
  font-weight: bold
  line-height: 1.2
  h1
    font-size: 1em
#breadcrumb
  font-size: 0.75em
  font-weight: bold
  .breadcrumb
    padding-bottom: 0
.region-breadcrumb
  .layout-container &
    padding-top: 0
    padding-bottom: 0
  p
    margin: 0
.messages a
  text-decoration: underline
.page-user .profile
  @extend .cf
  .user-picture
    margin-top: 2em
.page-search h1
  @extend .visually-hidden
.search-results
  margin-top: 1em
.views-field-title
  font-size: 1.5em
  font-weight: bold
@media all and (max-width: $bp-md-max)
  #skip-link a
    display: none
  #user-login-form
    input[type="text"],
    input[type="password"]
      width: 20rem
  #sidebar-first,
  #sidebar-second
    .views-field-title
      font-size: 1em
      font-weight: normal
