// /////////////////////////////////////////////////////////////////////////////
// variables.styl is shared between browser JavaScripts and Stylus.
// /////////////////////////////////////////////////////////////////////////////
@import '../../../_scripts/src/variables'

// /////////////////////////////////////////////////////////////////////////////
// The base on which the rest of the styles are built.
// /////////////////////////////////////////////////////////////////////////////
@import '0-base/00-variables'
@import '0-base/01-reset'
@import '0-base/02-icons'
@import '0-base/03-helpers'
@import '0-base/04-global'

// /////////////////////////////////////////////////////////////////////////////
// Styles specific to Element subtypes.
// /////////////////////////////////////////////////////////////////////////////
@import '00-elements/00-text'
@import '00-elements/01-lists'
@import '00-elements/02-images'

// /////////////////////////////////////////////////////////////////////////////
// Styles specific to Compound subtypes.
// /////////////////////////////////////////////////////////////////////////////
@import '01-compounds/00-text'
@import '01-compounds/02-forms'

// /////////////////////////////////////////////////////////////////////////////
// Styles specific to Component subtypes.
// /////////////////////////////////////////////////////////////////////////////
@import '02-components/02-comments'
@import '02-components/03-navigation'

// /////////////////////////////////////////////////////////////////////////////
// Styles specific to Pages.
// /////////////////////////////////////////////////////////////////////////////
@import '04-pages/00-header'
@import '04-pages/01-layout'
@import '04-pages/02-footer'
@import '04-pages/03-homepage'
@import '04-pages/04-article'

// Only in Drupal, not Fepper.
#block-fepper-branding
  a + a
    display: none
#region-highlighted
  padding-top: 0
  padding-bottom: 0
  @extend .cf
#region-primary-menu
  padding-bottom: 0
#navigation .menu
  @extend .cf
#region-secondary-menu
  padding-top: $pad-and-half
ul#secondary-menu
  background: transparent
  margin-top: 2rem
  @extend .cf
#region-primary-menu + #region-secondary-menu
  padding-top: 0
#region-breadcrumb,
#breadcrumb
  font-size: 0.75em
  font-weight: bold
.page-user .profile .user-picture
  margin-top: 1.5em
.page-search h1
  display: none
.search-results
  margin-top: 1em
