#logo
  margin: $space-half $space-half 0 0
  @media all and (max-width: $bp-sm-max)
    float: left
    img
      height: 3.8rem
  @media all and (min-width: $bp-med)
    display: inline-block
    vertical-align: top
