#logo
  img 
    margin-right: $space-half
  @media all and (max-width: $bp-sm-max)
    float: left
    margin-top: $space-half
    img
      height: 3.8rem
  @media all and (min-width: $bp-med)
    display: inline-block
    vertical-align: top
