#logo
  float: left
  margin-right: $space-half
  @media all and (max-width: $bp-sm-max)
    margin-top: $space-half
    img
      height: 3.8rem
  @media all and (min-width: $bp-med)
    margin-bottom: $space-half
