form ol, form ul
  list-style: none
  margin-left: 0
fieldset
  border: 0
  padding: 0
  margin: 0
label
  display: block
  padding-bottom: $space-quarter
button, input, select, textarea
  font-family: inherit
  font-size: 100%
  margin: 0
input, textarea
  border: 1px solid $gray
  padding: $space-half 1.04rem
input[type="text"], input[type="email"], input[type="password"], input[type="url"], input[type="number"]
  width: 25.5rem
input[type="text"], input[type="search"], input[type="url"], input[type="number"], textarea
  -webkit-appearance: none
button, input[type="submit"]
  padding: $space-half
  background: $gray-dark
  border: 1px solid $gray
  color: $white
  cursor: pointer
input[type="checkbox"],
input[type="radio"]
  width: auto
  margin-right: 0.3em
input[type="search"]
  -webkit-appearance: none
  border-radius: 0
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration
  -webkit-appearance: none
@media all and (max-width: $bp-xs-max)
  textarea
    width: 100%
#edit-actions
  background: transparent
  color: $gray
  padding: 0
  position: relative
#edit-preview
  margin-left: 0.5rem
.form-item,
.form-actions
  margin: 0
#search-block-form
  float: right
  margin-top: $space-half
  .container-inline
    @extend .cf
    > div
      display: block
      float: left
    label
      display: none
  .form-item,
  .form-actions
    background: $white-translucent
  .form-item-search-block-form
    font-size: 1em
    margin-bottom: 0
    &::after
      @extend .icon-search::before
      color: $black
      position: absolute
      top: 2rem
      right: 1.7rem
      z-index: 1
  input
    background: transparent
    height: 4rem
    &[id^="edit-search-block-form"]
      width: 11.5em
    &[id^="edit-submit"]
      border: 1px solid $gray
      border-left: 0
      color: transparent
      font-size: 0.85em
      padding-right: 0
      padding-left: 0
      position: relative
      width: 5rem
      &:hover
        background: rgba(0, 0, 0, 0.3)
  @media all and (max-width: $bp-sm-max)
    margin-top: 0
    max-height: 0
    overflow: hidden
    position: absolute
    top: $nav-toggle-n-border
    right: 0
    z-index: 2
    .open &
      max-height: 100%
      overflow: visible
    input
      height: 3.7rem
    .form-item-search-block-form
      &::after
        top: 1.1rem
