$img-size = 5em
$meta-width = 17rem
#comments
  border-top: 1px solid $gray-light-2
  margin-top: 1.5em
  padding-top: 1em
  .comment
    display: flex 
    padding: 0.9rem 0 // Padding instead of margin so borders appear when indented.
  .submitted
    min-height: 11em
    width: $meta-width
    > span
      display: block
      font-size: 1.2rem
      line-height: 1.6rem
      margin-left: 0.2rem
  .content
    p
      margin: 0
  .submitted + .content
    width: "calc(100% - %s)" % $meta-width
  .user-picture
    img,
    svg
      display: block
      border: 1px solid $gray-light-1
      width: $img-size
  .permalink
    display: block
    font-size: 1.2rem
    margin-left: 0.2rem
    text-decoration: underline
  .username
    font-weight: bold
  .links
    display: flex
    margin-top: 0.25em
    margin-bottom: 0
  li[class^="comment-"]
    display: list-item
    list-style-type: disc
    padding: 0 2.6rem 0 0
  .indented
    border-bottom: 1px solid $gray-light-2
    border-left: 1px solid $gray-light-2
    margin-left: 0.75em
    padding-bottom: 0.5em
  [id^="edit-author"]
    label
      padding-bottom: 0
  .username
    display: block
  @media all and (max-width: $bp-xs-max)
    .comment
      display: block
      padding: 0.6rem 0 // Padding instead of margin so borders appear when indented.
      overflow: hidden
    .submitted
      @extend .cf
      min-height: 0
      width: auto
    .user-picture
      float: left
      margin-right: $space-half
      img
        margin: 0
    .content
      padding-bottom: 0
      p
        margin-top: $space-quarter
    .submitted + .content
      width: auto
    .links
      justify-content: flex-end
      margin-right: $space-half
      text-align: right
      li:last-of-type
        padding-right: 0
    .filter-wrapper
      padding-bottom: 0
    .indented
      .comment
        > *
          margin-left: 2px
