#comments
  border-top: 1px solid $gray-light-3
  margin-top: 2em
  h2
    margin-top: $space
  .comment
    display: flex 
    margin: 1.8rem 0
  .submitted
    min-height: 11em
    width: 12em
    > span
      display: block
      font-size: 1.2rem
      line-height: 1.6rem
      margin-left: 2px
  .content
    p
      margin: 0
  .submitted + .content
    width: calc(100% - 12em)
  .user-picture
    img
      display: block
      border: 1px solid $gray-light-2
      margin-bottom: 0.5em
      width: 6.25em
  .permalink
    display: block
    font-size: 0.75em
    margin-left: 2px
    text-decoration: underline
  .username
    font-weight: bold
  .comment:last-of-type
    border-bottom: 1px solid $gray-light-3
  .links
    display: block
    margin-top: 0.25em
    margin-bottom: 0
  .comment-reply
    display: list-item
    list-style-type: disc
    padding: 0
  .indented
    margin-left: 0.75em
    .comment
      border-left: 1px solid $gray-light-3
  @media all and (max-width: $bp-xs-max)
    $img-size-xs = 8.75rem
    .comment
      display: block
      margin: 1.2rem 0
      padding: 0
      overflow: hidden
    .submitted
      @extend .cf
      min-height: 0
      width: auto
    .user-picture
      float: left
      img
        margin: 0
    .user-picture
      margin-right: $space-quarter
    .content
      padding-bottom: 0
      p
        margin-top: $space-quarter
    .submitted + .content
      width: auto
    .links
      display: flex
      justify-content: flex-end
      margin-right: $space-half
      text-align: right
    .filter-wrapper
      padding-bottom: 0
    .indented
      .comment
        > *
          margin-left: 2px
    .comment:last-of-type
      padding-bottom: 0.5em
  @media all and (min-width: $bp-small)
    .username
      &::before
        content: "\A"
        white-space: pre
      &::after
        content: "\A"
        white-space: pre
