#comments
  border-top: 1px solid $gray-light-3
  margin-top: 2em
  h2
    margin: $space 0 0
  .comment
    display: flex 
    //padding: 1.8rem 0 // Padding instead of margin so borders appear when indented.
    padding: 0.9rem 0
  .submitted
    min-height: 11em
    width: 12em
    > span
      display: block
      font-size: 1.2rem
      line-height: 1.6rem
      margin-left: 2px
  .content
    p
      margin: 0
  .submitted + .content
    width: calc(100% - 12em)
  .user-picture
    img
      display: block
      border: 1px solid $gray-light-2
      margin-bottom: 0.5em
      width: 6.25em
  .permalink
    display: block
    font-size: 0.75em
    margin-left: 2px
    text-decoration: underline
  .username
    font-weight: bold
  .comment:last-of-type
    border-bottom: 1px solid $gray-light-3
  .links
    display: block
    margin-top: 0.25em
    margin-bottom: 0
  [class^="comment-"]
    display: list-item
    list-style-type: disc
    padding: 0
  .indented
    margin-left: 0
    padding-left: 0.75em
    .comment
      border-left: 1px solid $gray-light-3
  > .indented
    border-top: 1px solid $gray-light-3
  [id^="edit-author"]
    label
      padding-bottom: 0
  .username
    display: block
    padding-bottom: $space-half
  @media all and (max-width: $bp-xs-max)
    $img-size-xs = 8.75rem
    .comment
      display: block
      //padding: 1.2rem 0 // Padding instead of margin so borders appear when indented.
      padding: 0.6rem 0 // Padding instead of margin so borders appear when indented.
      overflow: hidden
    .submitted
      @extend .cf
      min-height: 0
      width: auto
    .user-picture
      float: left
      margin-right: $space-half
      img
        margin: 0
    .content
      padding-bottom: 0
      p
        margin-top: $space-quarter
    .submitted + .content
      width: auto
    [class^="comment-"]
      padding-right: 2.6rem
    .links
      display: flex
      justify-content: flex-end
      margin-right: $space-half
      text-align: right
      li:last-of-type
        padding-right: 0
    .filter-wrapper
      padding-bottom: 0
    .indented
      .comment
        > *
          margin-left: 2px
  @media all and (min-width: $bp-small)
    .username
      &::before
        content: "\A"
        white-space: pre
      &::after
        content: "\A"
        white-space: pre
    #comment-form
      .username
        &::before
          content: ""
