ul.menu
  display: flex
  flex-wrap: wrap
  align-items: center
  > li
    padding-right: 1em
    @media all and (min-width: $bp-med)
      padding-left: 1em
  a
    display: block
#block-system-user-menu,
#main-menu
  @media all and (min-width: $bp-med)
    .menu
      margin-top: $space-half
      margin-bottom: $space-half
      a
        padding-top: 0.2rem
        padding-bottom: 0.2rem
#block-system-user-menu
  @media all and (max-width: $bp-sm-max)
    margin-top: $space-half
#main-menu
  > h2
    margin: 0
    padding: 0
    > a
      @extend .mobile-nav-icon
      &::before
        background: url("../../_assets/src/icon-menu.svg") no-repeat 0 0
        background-size: cover
  .menu
    @extend .cf
  @media all and (max-width: $bp-sm-max)
    float: right
    > .menu
      background: $white-translucent
      max-height: 0
      overflow: hidden
      position: absolute
      top: $nav-toggle-n-border
      transition: max-height 0.1s ease
      left: 0
      width: 100%
      z-index: 1
      li
        padding: 0
        width: 100%
        a
          border-bottom: 1px solid $gray-light-2
          padding: 0.7rem $space
          &:active
            background-color: $gray-light-1
        li
          padding-left: 1.2rem
    // Open hamburger menu.
    &.open
      > .menu
        max-height: none
  @media all and (min-width: $bp-med)
    float: left
    .hidden-link
      display: none
    .expanded
      > a::after
        content: "▼"
        font-size: 0.75em
        margin-left: $space-half
      ul
        display: block
        margin: 0
        padding: 0
        li
          float: none
          border: 1px solid $gray-light-1
          border-bottom: 0
          padding-right: 1.2rem
          padding-left: 1.2rem
          &:last-child
            border-bottom: 1px solid $gray-light-1
      &:hover > a,
      > a:focus
        + ul.menu
          max-height: 100%
    > ul.menu
      margin-top: 0
      min-height: 4rem
      > .expanded > ul
        background: $white-translucent
        max-height: 0
        overflow: hidden
        position: absolute
        transition: max-height 0.3s ease
        z-index: 2
        > .expanded li
          border-right: 0
          border-bottom: 0
          border-left: 0
        ul
          background: transparent
// Pager.
.item-list
  .pager
    clear: both
    display: flex
    flex-wrap: wrap
    justify-content: center
    margin-bottom: 1em
    padding-top: 1em
    li
      border-right: 1px solid $gray-light-2
      margin: 0
      padding: 0
      &:last-child
        border: 0
    a,
    .pager-current
      // Using padding for a tag to increase tappable area when the link is a numeral.
      padding: 0 0.75em
    @media all and (min-width: $bp-med)
      justify-content: flex-start
