#main-menu
  > h2
    @extend .mobile-nav-icon
    @extend .visually-hidden
    margin: 0
  .icon-menu::before
    background: url("../../_assets/src/icon-menu.svg") no-repeat 0 0
    background-size: cover
  .menu
    @extend .cf
  > .menu
    a
      display: block
  @media all and (max-width: $bp-sm-max)
    float: right
    > h2
      // Undo .visually-hidden.
      overflow: visible
      position: relative !important
      width: auto
      height: auto
      clip: auto
    > .menu
      background: $white-translucent
      max-height: 0
      overflow: hidden
      position: absolute
      top: $nav-toggle-height
      transition: max-height 0.1s ease
      left: 0
      width: 100%
      z-index: 1
      li
        border-top: 1px solid $gray-light-2
        a
          padding: 0.7rem $space
          &:active
            background-color: $gray-light-1
        li
          padding-left: 2rem
    // Open hamburger menu.
    &.open
      > .menu
        border-bottom: 1px solid $gray-light-2
        max-height: none
  @media all and (min-width: $bp-med)
    float: left
    a
      padding: $space-quarter $space
    .expanded
      > a::after
        color: $gray
        content: "▼"
        font-size: 0.75em
        margin-left: $space-half
      ul
        margin: 0
        padding: 0
        li
          float: none
          border: 1px solid $gray-light-1
          border-bottom: 0
          &:last-child
            border-bottom: 1px solid $gray-light-1
      &:hover
        ul
          max-height: 100%
    > ul
      display: flex
      flex-wrap: wrap
      align-items: center
      min-height: $nav-toggle-height + 0.2rem
      > .expanded > ul
        background: $white-translucent
        max-height: 0
        overflow: hidden
        position: absolute
        transition: max-height 0.3s ease
        z-index: 2
        > .expanded li
          border-right: 0
          border-bottom: 0
          border-left: 0
          padding-left: 1rem
        ul
          background: transparent
// Pager.
.item-list
  .pager
    clear: both
    display: flex
    flex-wrap: wrap
    justify-content: center
    margin: 0
    padding-bottom: 1em
    li
      border-right: 1px solid $gray-light-2
      margin: 0
      padding: 0
      &:last-child
        border: 0
    a
      padding: $space 1.2rem
    @media all and (max-width: $bp-sm-max)
      a
        padding: 1.6rem 1.0rem
    @media all and (min-width: $bp-med)
      justify-content: flex-start
