#main-menu
  .menu
    @extend .cf
  > .menu
    a
      display: block
  @media all and (max-width: $bp-sm-max)
    > .menu
      max-height: 0
      overflow: hidden
      position: absolute
      top: 0
      left: 0
      z-index: 1
      li
        background: $white-translucent
        border-top: 1px solid $gray-light-3
        a
          display: table
          padding: $space-half $space
        li
          padding-left: 2rem;
    // Open hamburger menu.
    &.open
      > .menu
        border-bottom: 1px solid $gray-light-3
        max-height: 100%
        padding-top: $nav-toggle-height
        width: 100%
  @media all and (min-width: $bp-med)
    border-top: 1px solid $gray-light-3
    float: left
    margin-top: -0.1rem
    padding: 1.2rem 0 $space-half
    li
      float: left
    a
      padding: $space-quarter $space
    .expanded
      > a::after
        color: $gray
        content: "▼"
        font-size: 0.75em
        margin-left: $space-half
      ul
        margin: 0
        padding: 0
        li
          float: none
          border: 1px solid $gray-light-2
          border-bottom: 0
          &:last-child
            border-bottom: 1px solid $gray-light-2
      &:hover
        ul
          max-height: 100%
    > .expanded > ul
      background: $white-translucent
      max-height: 0
      overflow: hidden
      position: absolute
      transition: max-height 0.3s ease
      z-index: 2
      > .expanded li
        border-right: 0
        border-bottom: 0
        border-left: 0
        padding-left: 1rem
      ul
        background: transparent
// Pager.
.item-list
  .pager
    clear: both
    display: flex
    justify-content: center
    margin: 0
    padding-bottom: 1em
    li
      border-right: 1px solid $gray-light-2
      margin: 0
      padding: 0
      &:last-child
        border: 0
    a
      padding: 1.6rem 1.4rem
    @media all and (max-width: $bp-sx-max)
      .pager
        width: 18rem
    @media all and (max-width: $bp-sm-max)
      a
        padding: 1.6rem 1.0rem
    @media all and (min-width: $bp-med)
      justify-content: flex-start
