[role="main"]
  @extend .cf
.layout-content
  @extend .cf
@media all and (max-width: $bp-sm-max)
  .layout-content
    clear: both
@media all and (min-width: $bp-med)
  .layout-content,
  .two-sidebars #sidebar-first
    float: left
    width: 2 * (100% / 3)
    padding-right: 1em
  .no-sidebars .layout-content
    width: 100%
  .one-sidebar #sidebar-first
    display: flex
    justify-content: center
    padding-right: 0
  #sidebar-second
    float: left
    width: (100% / 3)
    padding: 0 0 0 1em
// Hero block
#block-system-main
  @media all and (min-width: $bp-small) and (max-width: $bp-sm-max)
    position: relative;
    .views-field-field-image
      padding-top: 75%
      .field-content
        position: absolute
        top: 0
        left: 0
    .views-field-title
      background: $dim
      overflow: hidden
      padding: $space-half
      position: absolute
      bottom: 0
      left: 0
      width: 100%
      a
        color: $white
