#block-views-recent-content-block-2,
.view-id-recent_content.view-display-id-page_1
  .node-teaser
    > h2
      font-size: 2rem
  @media all and (max-width: $bp-xs-max)
    h2
      text-align: center
    .field-name-field-image
      display: flex
      justify-content: center
      a
        display: block
        max-width: 22.5rem
  @media all and (max-width: $bp-sm-max)
    .node-teaser
      > h2
        font-size: 1.7rem
  @media all and (min-width: $bp-small)
    .item-list
      margin-top: $space-quarter
      .views-row 
        clear: both
        float: left
        margin-bottom: $space
    .node-teaser
      margin-bottom: 0
      > h2,
      .field-name-body p
        float: right
        padding: 0 1.6rem
        width: 2 * (100% / 3)
      > h2
        margin-top: 0
      img
        float: left
        width: (100% / 3)
