#block-views-recent-content-block-2,
.view-id-recent_content.view-display-id-page_1
  @media all and (max-width: $bp-xs-max)
    .field-name-field-image
      a
        display: block
        max-width: 22.5rem
  @media all and (max-width: $bp-sm-max)
    .node-article
      > h2
        font-size: 1.8rem
  @media all and (min-width: $bp-small)
    .item-list
      margin-top: 0.5em
      .views-row 
        clear: both
        float: left
        margin-bottom: $space-and-half
    .node-article
      > h2,
      .field-name-body p
        float: right
        margin-top: 0
        padding: 0 1.6rem
        width: 70%
      img
        float: left
        height: auto
        width: 30%
