.region-header #block-search-form,
#main-menu
  > h2 > a
    border-left: 1px solid $gray-light-2
    padding: $space
    width: $nav-toggle-n-border
    height: $nav-toggle-height
.region-header #block-search-form
  @media all and (min-width: $bp-med)
    margin-top: $space-half
