#main,
.layout-content
  @extend .cf
.page-blog .layout-content,
.not-front.page-node.one-sidebar.sidebar-second .layout-content,
.two-sidebars #sidebar-first
  @media all and (min-width: $bp-med)
    float: left
    width: $column-width-two-thirds + "%"
  @media all and (min-width: $bp-large)
    width: $column-width-three-quarters + "%"
#sidebar-second
  @media all and (max-width: $bp-xs-max)
    text-align: center
  @media all and (min-width: $bp-med)
    float: left
    width: $column-width-one-third + "%"
    .page-hero &,
    .page-blog &,
    .page-node &
      padding: 0 0 0 1em
  @media all and (min-width: $bp-large)
    width: $column-width-one-quarter + "%"
#block-views-recent-content-block-2,
.view-id-recent_content.view-display-id-page_1
  .view-content
    @extend .cf
  .node-teaser
    > h2
      font-size: 1.25em
    p:last-child
      margin-bottom: 0
  @media all and (max-width: $bp-xs-max)
    h2
      text-align: center
    .field-name-field-image
      display: flex
      justify-content: center
      a
        display: block
        max-width: 22.5rem
  @media all and (min-width: $bp-small)
    .view-content
      padding-top: $space-quarter
      .views-row
        @extend .cf
        clear: both
        margin-bottom: $space
    .node-teaser
      margin-bottom: 0
      > h2,
      .field-name-body
        float: right
        padding: 0 0 0 $space
        width: $column-width-three-quarters + "%"
      > h2
        margin-top: 0
      img
        float: left
        width: $column-width-one-quarter + "%"
      p:first-child
        margin-top: 0
  @media all and (min-width: $bp-med)
    .view-content
      padding-right: $space
