{{ info_primary_nav }}
    {{^ main_menu_block_enabled }}
      <nav id="main-menu" role="navigation">
        <h2><a href="#" class="icon-menu">Main menu</a></h2>
        {{> 01-compounds/01-blocks/_06-primary-nav-menu }}
      </nav> <!-- /#navigation -->
    {{/ main_menu_block_enabled }}