.cf::before,
[role="main"]::before,
.layout-content::before,
.cf::after,
[role="main"]::after,
.layout-content::after {
  content: " ";
  display: table;
}
.cf::after,
[role="main"]::after,
.layout-content::after {
  clear: both;
}
.lc {
  clear: both;
  max-width: 1152px;
  margin: 0 auto;
  padding: 0.8rem;
}
.visually-hidden {
  position: absolute !important;
  overflow: hidden;
  width: 1px;
  height: 1px;
  padding: 0;
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
}
.mobile-nav-icon > a {
  background: rgba(255,255,255,0.95);
  color: transparent;
  cursor: pointer;
  display: block;
  overflow: hidden;
  padding: 1.7rem 1.6rem 1.6rem;
  position: relative;
  z-index: 2;
  width: 5.5rem;
  height: 5.4rem;
}
.mobile-nav-icon > a::before {
  content: "";
  display: block;
  padding: 1.1rem;
}
@media all and (max-width: 480px) {
  .more-link {
    text-align: center;
  }
}
#main-menu > h2 > a {
  border-left: 1px solid #ddd;
}
.region-header #block-search-form > h2 > a {
  border-left: 1px solid #ddd;
}
@media all and (max-width: 480px) {
  #sidebar-second {
    text-align: center;
  }
}
@media all and (max-width: 767px) {
  .layout-content {
    clear: both;
  }
}
@media all and (min-width: 768px) {
  .layout-content,
  .two-sidebars #sidebar-first {
    float: left;
    width: 66.66666666666667%;
    padding-right: 1em;
  }
  .no-sidebars .layout-content {
    width: 100%;
  }
  .one-sidebar #sidebar-first {
    display: flex;
    justify-content: center;
    padding-right: 0;
  }
  #sidebar-second {
    float: left;
    width: 33.333333333333336%;
    padding: 0 0 0 1em;
  }
}
@media all and (min-width: 481px) and (max-width: 767px) {
  #block-system-main {
    position: relative;
  }
  #block-system-main .views-field-field-image {
    padding-top: 75%;
  }
  #block-system-main .views-field-field-image .field-content {
    position: absolute;
    top: 0;
    left: 0;
  }
  #block-system-main .views-field-title {
    background: rgba(0,0,0,0.5);
    overflow: hidden;
    padding: 0.8rem;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
  }
  #block-system-main .views-field-title a {
    color: #fff;
  }
}
.region-footer > * {
  width: 100%;
}
@media all and (max-width: 480px) {
  .region-footer > * {
    text-align: center;
  }
}
@media all and (min-width: 768px) {
  .region-footer > * {
    text-align: right;
  }
}
@media all and (max-width: 480px) {
  #block-views-recent-content-block-2 h2,
  .view-id-recent_content.view-display-id-page_1 h2 {
    text-align: center;
  }
  #block-views-recent-content-block-2 .field-name-field-image,
  .view-id-recent_content.view-display-id-page_1 .field-name-field-image {
    display: flex;
    justify-content: center;
  }
  #block-views-recent-content-block-2 .field-name-field-image a,
  .view-id-recent_content.view-display-id-page_1 .field-name-field-image a {
    display: block;
    max-width: 22.5rem;
  }
}
@media all and (max-width: 767px) {
  #block-views-recent-content-block-2 .node-teaser > h2,
  .view-id-recent_content.view-display-id-page_1 .node-teaser > h2 {
    font-size: 1.8rem;
  }
}
@media all and (min-width: 481px) {
  #block-views-recent-content-block-2 .item-list,
  .view-id-recent_content.view-display-id-page_1 .item-list {
    margin-top: 0.5em;
  }
  #block-views-recent-content-block-2 .item-list .views-row,
  .view-id-recent_content.view-display-id-page_1 .item-list .views-row {
    clear: both;
    float: left;
    margin-bottom: 2.4rem;
  }
  #block-views-recent-content-block-2 .node-teaser > h2,
  .view-id-recent_content.view-display-id-page_1 .node-teaser > h2,
  #block-views-recent-content-block-2 .node-teaser .field-name-body p,
  .view-id-recent_content.view-display-id-page_1 .node-teaser .field-name-body p {
    float: right;
    padding: 0 1.6rem;
    width: 66.66666666666667%;
  }
  #block-views-recent-content-block-2 .node-teaser > h2,
  .view-id-recent_content.view-display-id-page_1 .node-teaser > h2 {
    margin-top: 0;
  }
  #block-views-recent-content-block-2 .node-teaser img,
  .view-id-recent_content.view-display-id-page_1 .node-teaser img {
    float: left;
    height: auto;
    width: 33.333333333333336%;
  }
}
@media all and (min-width: 768px) {
  .front .layout-content {
    margin-bottom: 2rem;
  }
}
.front .layout-content .region-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.front .layout-content #block-system-main {
  margin-bottom: 0.5em;
}
.front .layout-content #block-system-main img {
  display: block;
}
.front .layout-content #block-system-main .views-field-title a {
  color: #fff;
  display: block;
  font-size: 2.4rem;
  font-weight: bold;
  line-height: 1.2;
}
@media all and (max-width: 480px) {
  .front .layout-content #block-system-main .views-field-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 8.7rem;
  }
}
@media all and (max-width: 767px) {
  .front .layout-content #block-system-main .views-field-title {
    background: rgba(0,0,0,0.8);
    overflow: hidden;
    padding: 0 0.8rem;
  }
  .front .layout-content #block-system-main .views-field-title a {
    font-size: 1.8rem;
  }
}
@media all and (min-width: 481px) and (max-width: 767px) {
  .front .layout-content #block-system-main .views-field-title {
    padding-top: 19%;
  }
  .front .layout-content #block-system-main .views-field-title .field-content {
    display: block;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
  }
}
@media all and (min-width: 768px) {
  .front .layout-content #block-system-main {
    position: relative;
  }
  .front .layout-content #block-system-main .views-field-field-image {
    min-height: 7.68rem;
  }
  .front .layout-content #block-system-main .views-field-title {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: rgba(0,0,0,0.5);
    padding: 1.5em;
  }
}
.front .layout-content .region-content > .views-row {
  margin-bottom: 0.5em;
  position: relative;
}
.front .layout-content .region-content > .views-row .views-field-field-image {
  min-height: 17rem;
  position: relative;
  z-index: 0;
}
.front .layout-content .region-content > .views-row .views-field-field-image img {
  display: block;
}
.front .layout-content .region-content > .views-row .views-field-title {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  color: #fff;
}
.front .layout-content .region-content > .views-row .views-field-title a {
  background: rgba(0,0,0,0.5);
  color: #fff;
  display: block;
  padding: 0.5em;
  font-size: 1.8rem;
  font-weight: bold;
  line-height: 1.2;
}
@media all and (max-width: 480px) {
  .front .layout-content .views-field-title {
    text-align: center;
  }
}
@media all and (max-width: 767px) {
  .front .layout-content .region-content > .views-row .views-field-title a {
    font-size: 1.7rem;
  }
}
@media all and (min-width: 768px) {
  .front .layout-content .region-content > .views-row {
    padding-top: 0.8rem;
    width: calc((100% / 3) - (3.2rem / 3));
  }
}
.front.page-hero .layout-content {
  border-bottom: 2px solid #eee;
  margin-bottom: 3.2rem;
  padding: 0 0 3.2rem;
  width: 100%;
}
@media all and (min-width: 481px) and (max-width: 767px) {
  .front.page-hero .layout-content #block-system-main,
  .front.page-hero .layout-content .region-content > .views-row {
    width: calc(50% - 0.4rem);
  }
}
