ol,
ul,
ul li.expanded,
ul li.leaf,
ul.menu li
  margin: 0
  padding: 0
  list-style: none
li
  a:hover, a:focus
    color: $gray
.text
  ul
    list-style: disc
    margin: 0 0 $space 1.92rem
    ul
      margin-bottom: 0
  ol
    list-style: decimal
    margin: 0 0 $space 1.92rem
    ol
      margin-bottom: 0
.item-list
  ol,
  ul
    &,
    & li
      margin: 0
      padding: 0
