<div class="field field-name-field-image field-type-image field-label-hidden">
  <div class="field-items">
    <div class="field-item">
      <a href="{{ url }}">
        {{> 00-elements/02-images/03-square.mustache }}
      </a>
    </div>
  </div>
</div>
<div class="field field-name-body field-type-text-with-summary field-label-hidden">
  <div class="field-items">
    <div class="field-item" property="content:encoded">
      <p>{{{ excerpt }}}</p>
    </div>
  </div>
</div>  
