<span rel="sioc:reply_of" class="rdf-meta element-hidden"></span>
<div class="field field-name-comment-body field-type-text-long field-label-hidden">
  <div class="field-items">
    <div class="field-item even" property="content:encoded">
      <p>{{ comment_body }}</p>
    </div>
  </div>
</div>
<ul class="links inline">
  <li class="comment-reply first last"><a href="#">reply</a></li>
</ul>
