ol,
ul,
ul li.expanded,
ul li.leaf,
ul.menu li
  margin: 0
  padding: 0
  list-style: none
li
  a:hover, a:focus
    color: $gray
.text ul,
.text ol,
ul.text,
ol.text,
.node-article ul,
.node-article ol,
[role="article"] ul,
[role="article"] ol,
[typeof="schema:Article"] ul,
[typeof="schema:Article"] ol
  margin: 0 0 $space 1.92rem
  ul,
  ol
    margin-bottom: 0
.item-list
  ol,
  ul
    &,
    & li
      margin: 0
      padding: 0
.text ul,
ul.text,
.node-article ul,
[role="article"] ul,
[typeof="schema:Article"] ul
  list-style: disc
.text ol,
ol.text,
.node-article ol,
[role="article"] ol,
[typeof="schema:Article"] ol
  list-style: decimal
