<span property="dc:date dc:created" datatype="xsd:dateTime" rel="sioc:has_creator">
  Submitted by <span class="username">
    {{# name }}
      {{ name.first }} {{ name.last }}
    {{/ name }}
    {{^ name }}
      {{ author_name }}
    {{/ name }}
  </span> on Sat, 04/06/1991 - 19:31
</span>
