<ul class="links inline">
  <li class="comment-add first last active">
    <a href="/node/6#comment-form" title="Share your thoughts and opinions related to this posting." class="active">Add new comment</a>
  </li>
</ul>
