header.header
  background: $white
  border-bottom: 1px solid $gray-light-3
  padding: 0
  @media all and (max-width: $bp-sm-max)
    margin: 0 0 0 $space-half
    width: "calc(100% - %s)" % $space-half
  @media all and (min-width: $bp-med) and (max-width: $max-width)
    width: "calc(100% - %s)" % $space
  @media all and (min-width: $max-width)
    width: "calc(%s - %s)" % ($max-width $space)
#block-fepper-branding
  position: relative
  h1
    margin-bottom: 0
.region-header
  #block-search-form
    float: right
    margin-top: $space-half
  .mobile-nav-toggle
    @extend .mobile-nav-icon
    @extend .visually-hidden
    float: right
    margin: 0
    > a
      &::before
        @extend .icon-search::before
@media all and (max-width: $bp-sm-max)
  .region-header
    #block-search-form
      margin-top: 0
      .content
        max-height: 0
        overflow: hidden
        position: absolute
        top: $nav-toggle-n-border
        right: 0
        z-index: 2
      input
        height: 3.7rem
    #block-search-form.open
      .content
        max-height: 100%
        overflow: visible
    .mobile-nav-toggle
      // Undo .visually-hidden.
      overflow: visible
      position: relative !important
      width: auto
      height: auto
      clip: auto
