header.header
  background: $white
  border-bottom: 1px solid $gray-light-3
  padding: 0
  @media all and (max-width: $bp-sm-max)
    margin: 0 0 0 $space-half
    width: "calc(100% - %s)" % $space-half
  @media all and (min-width: $bp-med) and (max-width: $max-width)
    width: "calc(100% - %s)" % $space
  @media all and (min-width: $max-width)
    width: "calc(%s - %s)" % ($max-width $space)
#block-fepper-branding
  position: relative
  h1
    margin-bottom: 0
.region-header
  #block-search-form
    position: relative
    > h2
      float: right
      margin: 0
      > a
        @extend .header-icon-font
        border-left: 1px solid $gray-light-3
        &::before
          @extend .icon-search::before
    .content
      &::before
        content: ""
        display: inline
      &::after
        clear: none
    .page-search &
      display: none
    .content
      @extend .cf
    @media all and (max-width: $bp-sm-max)
      margin: 0
