[role="main"],
.layout-container > *:not(footer),
.layout-container > footer > *
  @extend .lc
#sidebar-second
  li
    padding: 0.25em 0
    border-top: 1px solid $gray-light-3
    > *
      display: block
