#navigation
  ul
    background: $white-translucent
  a
    display: block
  @media all and (max-width: $bp-sm-max)
    .icon-menu
      position: relative
      right: 5.1rem
      z-index: 3
    #main-menu > ul
      max-height: 0
      overflow: hidden
      position: absolute
      top: 5rem
      left: 0
      z-index: 1
    li
      border-top: 1px solid $gray-light-3
      a
        display: table
        padding: $pad-half $pad
      li
        padding-left: 2rem;
    &.open
      #main-menu > ul
        max-height: 100%
        width: 100%
  @media all and (min-width: $bp-med)
    border-top: 1px solid $gray-light-2
    clear: none
    float: left
    margin-top: -0.1rem
    padding-top: $pad-quarter * 3
    position: static
    width: auto
    height: auto
    .icon-menu
      display: none
    li
      float: left
    a
      padding: $pad-quarter $pad
    .expanded
      > a::after
        color: $gray
        content: "▼"
        font-size: $font-size-sm
        margin-left: $space-half
      ul
        max-height: 0
        overflow: hidden
        transition: max-height 0.3s ease
        z-index: 2
        li
          float: none
          border: 1px solid $gray-light-2
          border-bottom: 0
          &:last-child
            border-bottom: 1px solid $gray-light-2
      &:hover
        ul
          max-height: 100%
    #main-menu > ul > .expanded > ul
      position: absolute
      > .expanded li
        border-right: 0
        border-bottom: 0
        border-left: 0
      .expanded
        padding-left: 1rem
      ul
        background: transparent
.item-list
  .pager
    clear: both
    display: flex
    justify-content: center
    margin: 0
    padding-bottom: 1em
    li
      border-right: 1px solid $gray-light-2
      margin: 0
      padding: 0
      &:last-child
        border: 0
    a
      padding: 1.6rem 1.4rem
    @media all and (max-width: $bp-sx-max)
      .pager
        width: 18rem
    @media all and (max-width: $bp-sm-max)
      a
        padding: 1.6rem 1.0rem
    @media all and (min-width: $bp-med)
      justify-content: flex-start
