.cf::before,
#comments .submitted::before,
#main-menu .menu::before,
.page-user .profile::before,
.cf::after,
#comments .submitted::after,
#main-menu .menu::after,
.page-user .profile::after {
  content: " ";
  display: table;
}
.cf::after,
#comments .submitted::after,
#main-menu .menu::after,
.page-user .profile::after {
  clear: both;
}
.lc,
#main,
.layout-container > *:not(footer),
.layout-container > footer > * {
  clear: both;
  max-width: 1152px;
  margin: 0 auto;
  padding: 0.8rem;
}
.visually-hidden,
.page-search h1 {
  border: 0 !important;
  clip: rect(1px, 1px, 1px, 1px) !important;
  overflow: hidden !important;
  padding: 0 !important;
  pointer-events: none !important;
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
}
.mobile-nav-icon,
.region-header #block-search-form > h2 > a,
#main-menu > h2 > a {
  background-color: rgba(255,255,255,0.95);
  color: transparent;
  cursor: pointer;
  display: block;
  overflow: hidden;
  padding: 1.2rem 0.9rem;
  position: relative;
  z-index: 2;
  width: 4rem;
  height: 4.6rem;
}
.mobile-nav-icon:active,
.region-header #block-search-form > h2 > a:active,
#main-menu > h2 > a:active {
  background-color: #eee;
}
.mobile-nav-icon::before,
.region-header #block-search-form > h2 > a::before,
#main-menu > h2 > a::before {
  content: "";
  display: block;
  padding: 1.1rem;
}
.mobile-nav-icon:hover::before,
.region-header #block-search-form > h2 > a:hover::before,
#main-menu > h2 > a:hover::before,
.mobile-nav-icon:focus::before,
.region-header #block-search-form > h2 > a:focus::before,
#main-menu > h2 > a:focus::before {
  filter: invert(50%);
}
html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
html,
body,
div,
object,
iframe,
blockquote,
ol,
ul,
li,
form,
legend,
label,
table,
header,
footer,
nav,
section,
figure {
  margin: 0;
  padding: 0;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.5;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
h2 {
  font-size: 1.5em;
  margin: 0.83em 0;
}
h3 {
  font-size: 1.17em;
  margin: 1em 0;
}
h4 {
  font-size: 1em;
  margin: 1.33em 0;
}
h5 {
  font-size: 0.83em;
  margin: 1.67em 0;
}
h6 {
  font-size: 0.67em;
  margin: 2.33em 0;
}
p {
  margin: 1em 0;
}
html {
  font-size: 62.5%;
}
body {
  background-color: #fff;
  font: 1.6em/1.5 Helvetica, "Nimbus Sans L", "Liberation Sans", Roboto, sans-serif;
  -webkit-text-size-adjust: 100%;
  color: #333;
  min-width: 320px;
  min-height: 100vh;
  padding-bottom: 5rem;
  position: relative;
}
@media all and (max-width: 767px) {
  body {
    font-size: 1.4em;
  }
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0.4rem 0;
  padding: 0.4rem 0 0;
}
h1,
h2 {
  line-height: 1.2;
}
h4 {
  font-size: 1.1em;
}
h5 {
  font-size: 1.0625em;
}
h6 {
  font-size: 1em;
}
a,
li a.active {
  color: #333;
  text-decoration: none;
  outline: 0;
}
a:hover,
li a.active:hover,
a:focus,
li a.active:focus {
  color: #808080;
}
.text a,
a.text,
p a {
  text-decoration: underline;
}
aside {
  margin-bottom: 1.6rem;
}
.hidden {
  display: none !important;
  visibility: hidden !important;
}
.right {
  float: right;
  padding: 0 0 1.6rem 1.6rem;
}
.right-search {
  float: right;
  padding: 0 0 1.6rem 0;
}
.left {
  float: left;
  padding: 0 1.6rem 1.6rem 0;
}
.align-right {
  text-align: right;
}
.align-center {
  text-align: center;
}
.align-left {
  text-align: left;
}
div.error,
div.error a {
  color: #f00;
}
@media print {
  header.header,
  form,
  footer[role="contentinfo"] {
    display: none;
  }
}
header.header {
  background-color: #fff;
  border-bottom: 1px solid #ddd;
  padding: 0;
  width: 100%;
}
@media all and (max-width: 767px) {
  header.header {
    padding-left: 0.8rem;
  }
}
@media all and (min-width: 768px) and (max-width: 1152px) {
  header.header {
    width: calc(100% - 1.6rem);
  }
}
@media all and (min-width: 768px) {
  header.header {
    padding-top: 0.8rem;
  }
}
@media all and (min-width: 1152px) {
  header.header {
    width: calc(1152px - 1.6rem);
  }
}
#block-fepper-branding {
  float: left;
  position: relative;
}
#block-fepper-branding h1 {
  margin: 0;
  padding: 0;
}
.region-header #block-search-form {
  float: right;
}
.region-header #block-search-form > h2 {
  float: right;
  margin: 0;
  padding: 0;
}
.region-header #block-search-form > h2 > a::before {
  background: url("../../_assets/src/icon-search.svg") no-repeat 0 0;
  background-size: cover;
  filter: invert(20%);
}
@media all and (max-width: 767px) {
  .region-header #block-search-form {
    position: static;
  }
  .region-header #block-search-form .content {
    max-height: 0;
    overflow: hidden;
    position: absolute;
    top: 5.5rem;
    right: 0;
    z-index: 3;
  }
  .region-header #block-search-form.open .content {
    max-height: none;
    overflow: visible;
  }
}
@media all and (min-width: 768px) {
  .region-header #block-search-form .hidden-link {
    display: none;
  }
}
@media all and (max-width: 767px) {
  .region-header #block-system-user-menu {
    float: left;
  }
}
@media all and (min-width: 768px) {
  .region-header #block-system-user-menu {
    float: right;
  }
}
.column.sidebar {
  margin-bottom: 1em;
}
#sidebar-second li {
  padding: 0.25em 0;
  border-top: 1px solid #ddd;
}
#sidebar-second li > * {
  display: block;
}
#sidebar-second li .views-field-title {
  font-size: 1em;
  font-weight: normal;
}
footer[role="contentinfo"] {
  clear: both;
  overflow: hidden;
  background-color: #131313;
  color: #fff;
  height: 5rem;
  line-height: 1.2;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}
footer[role="contentinfo"] a {
  color: #f9f9f9;
}
.region-footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
  position: relative;
}
.region-footer > * {
  padding: 0.8rem 0;
}
.region-footer p {
  margin: 0;
}
blockquote {
  border-left: 1px solid #808080;
  color: #808080;
  padding-left: 1.6rem;
  margin-bottom: 1.6rem;
}
ol,
ul,
ul li.expanded,
ul li.leaf,
ul.menu li {
  margin: 0;
  list-style: none;
}
ol,
ul,
ul li.expanded,
ul li.leaf {
  padding: 0;
}
li a:hover,
li a:focus {
  color: #808080;
}
.text ul,
.text ol,
ul.text,
ol.text,
.node-article ul,
.node-article ol,
[role="article"] ul,
[role="article"] ol,
[typeof="schema:Article"] ul,
[typeof="schema:Article"] ol {
  margin: 0 0 1.6rem 1.2em;
}
.text ul ul,
.text ol ul,
ul.text ul,
ol.text ul,
.node-article ul ul,
.node-article ol ul,
[role="article"] ul ul,
[role="article"] ol ul,
[typeof="schema:Article"] ul ul,
[typeof="schema:Article"] ol ul,
.text ul ol,
.text ol ol,
ul.text ol,
ol.text ol,
.node-article ul ol,
.node-article ol ol,
[role="article"] ul ol,
[role="article"] ol ol,
[typeof="schema:Article"] ul ol,
[typeof="schema:Article"] ol ol {
  margin-bottom: 0;
}
.item-list ol,
.item-list ul,
.item-list ol li,
.item-list ul li {
  margin: 0;
  padding: 0;
}
.text ul,
ul.text,
.node-article ul,
[role="article"] ul,
[typeof="schema:Article"] ul {
  list-style: disc;
}
.text ol,
ol.text,
.node-article ol,
[role="article"] ol,
[typeof="schema:Article"] ol {
  list-style: decimal;
}
img,
video,
object,
svg {
  display: block;
  max-width: 100%;
}
img,
svg {
  height: auto;
}
.more-link {
  font-style: italic;
  text-align: left;
}
#logo img {
  margin-right: 0.8rem;
}
@media all and (max-width: 767px) {
  #logo {
    float: left;
    margin-top: 0.8rem;
  }
  #logo img {
    height: 3.8rem;
  }
}
@media all and (min-width: 768px) {
  #logo {
    display: inline-block;
    vertical-align: top;
  }
}
form > div {
  margin-bottom: 1em;
}
form ol,
form ul {
  list-style: none;
  margin-left: 0;
}
fieldset {
  border: 0;
  padding: 0;
  margin: 0;
}
label {
  display: block;
  padding-bottom: 0.4rem;
}
button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}
input,
textarea {
  border: 1px solid #808080;
  padding: 0.8rem 1.04rem;
}
input[type="text"],
input[type="email"],
input[type="password"],
input[type="url"],
input[type="number"] {
  width: 25.5rem;
}
input[type="text"],
input[type="search"],
input[type="url"],
input[type="number"],
textarea {
  -webkit-appearance: none;
}
button,
input[type="submit"] {
  padding: 0.8rem;
  background-color: #333;
  border: 1px solid #808080;
  color: #fff;
  cursor: pointer;
}
input[type="checkbox"],
input[type="radio"] {
  width: auto;
  margin-right: 0.3em;
}
input[type="search"] {
  -webkit-appearance: none;
  border-radius: 0;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
@media all and (max-width: 480px) {
  textarea {
    width: 100%;
  }
}
@media all and (min-width: 481px) {
  textarea {
    max-width: 100%;
  }
}
#edit-actions {
  background-color: transparent;
  color: #808080;
  padding: 0;
  position: relative;
}
#edit-preview {
  margin-left: 0.5rem;
}
.page-search #block-search-form {
  display: none;
}
#block-search-form .container-inline {
  display: flex;
}
#block-search-form .form-item,
#block-search-form .form-actions {
  background-color: rgba(255,255,255,0.95);
  margin: 0;
}
#block-search-form .form-item-search-block-form {
  font-size: 1em;
  position: relative;
}
#block-search-form input {
  background-color: transparent;
  height: 2.5em;
}
#block-search-form input[id^="edit-search-block-form"] {
  width: 13.5em;
}
@media all and (min-width: 768px) and (max-width: 1024px) {
  #block-search-form input[id^="edit-search-block-form"] {
    width: 11.4375em;
  }
}
#block-search-form input[id^="edit-submit"] {
  background: url("../../_assets/src/icon-search.svg") no-repeat 50% 45%;
  background-size: 35%;
  border: 1px solid #808080;
  border-left: 0;
  color: transparent;
  padding-right: 0;
  padding-left: 0;
  position: relative;
  width: 3.125em;
}
#block-search-form input[id^="edit-submit"]:hover,
#block-search-form input[id^="edit-submit"]:focus {
  filter: invert(50%);
}
#block-search-form input[id^="edit-submit"]:active {
  background-color: rgba(0,0,0,0.2);
}
#search-block-form > div {
  margin-bottom: 0;
}
#search-block-form h2.element-invisible {
  display: none;
}
#comments {
  border-top: 1px solid #ddd;
  margin-top: 1.5em;
  padding-top: 1em;
}
#comments .comment {
  display: flex;
  padding: 0.9rem 0;
}
#comments .submitted {
  min-height: 11em;
  width: 17rem;
}
#comments .submitted > span {
  display: block;
  font-size: 1.2rem;
  line-height: 1.6rem;
  margin-left: 0.2rem;
}
#comments .content p {
  margin: 0;
}
#comments .submitted + .content {
  width: calc(100% - 17rem);
}
#comments .user-picture img,
#comments .user-picture svg {
  display: block;
  border: 1px solid #eee;
  width: 5em;
}
#comments .permalink {
  display: block;
  font-size: 1.2rem;
  margin-left: 0.2rem;
  text-decoration: underline;
}
#comments .username {
  font-weight: bold;
}
#comments .links {
  display: flex;
  margin-top: 0.25em;
  margin-bottom: 0;
}
#comments li[class^="comment-"] {
  display: list-item;
  list-style-type: disc;
  padding: 0 2.6rem 0 0;
}
#comments .indented {
  border-bottom: 1px solid #ddd;
  border-left: 1px solid #ddd;
  margin-left: 0.75em;
  padding-bottom: 0.5em;
}
#comments [id^="edit-author"] label {
  padding-bottom: 0;
}
#comments .username {
  display: block;
}
@media all and (max-width: 480px) {
  #comments .comment {
    display: block;
    padding: 0.6rem 0;
    overflow: hidden;
  }
  #comments .submitted {
    min-height: 0;
    width: auto;
  }
  #comments .user-picture {
    float: left;
    margin-right: 0.8rem;
  }
  #comments .user-picture img {
    margin: 0;
  }
  #comments .content {
    padding-bottom: 0;
  }
  #comments .content p {
    margin-top: 0.4rem;
  }
  #comments .submitted + .content {
    width: auto;
  }
  #comments .links {
    justify-content: flex-end;
    margin-right: 0.8rem;
    text-align: right;
  }
  #comments .links li:last-of-type {
    padding-right: 0;
  }
  #comments .filter-wrapper {
    padding-bottom: 0;
  }
  #comments .indented .comment > * {
    margin-left: 2px;
  }
}
ul.menu {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
ul.menu > li {
  padding-right: 1em;
}
@media all and (min-width: 768px) {
  ul.menu > li {
    padding-left: 1em;
  }
}
ul.menu a {
  display: block;
}
@media all and (min-width: 768px) {
  #block-system-user-menu,
  #main-menu {
    margin: 1.1rem 0;
  }
  #block-system-user-menu .menu a,
  #main-menu .menu a {
    padding: 0 0 0.2rem;
  }
}
@media all and (max-width: 767px) {
  #block-system-user-menu {
    margin-top: 0.8rem;
  }
}
#main-menu > h2 {
  margin: 0;
  padding: 0;
}
#main-menu > h2 > a::before {
  background: url("../../_assets/src/icon-menu.svg") no-repeat 0 0;
  background-size: cover;
  filter: invert(20%);
}
@media all and (max-width: 767px) {
  #main-menu {
    float: right;
  }
  #main-menu > .menu {
    background-color: rgba(255,255,255,0.95);
    max-height: 0;
    overflow: hidden;
    position: absolute;
    top: 5.5rem;
    -webkit-transition: max-height 0.1s ease;
    -moz-transition: max-height 0.1s ease;
    -ms-transition: max-height 0.1s ease;
    -o-transition: max-height 0.1s ease;
    transition: max-height 0.1s ease;
    left: 0;
    width: 100%;
    z-index: 2;
  }
  #main-menu > .menu li {
    padding: 0;
    width: 100%;
  }
  #main-menu > .menu li a {
    border-bottom: 1px solid #ddd;
    padding: 0.7rem 1.6rem;
  }
  #main-menu > .menu li a:active {
    background-color: #eee;
  }
  #main-menu > .menu li li {
    padding-left: 1.2rem;
  }
  #main-menu.open > .menu {
    max-height: none;
  }
}
@media all and (min-width: 768px) {
  #main-menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    float: left;
  }
  #main-menu .hidden-link {
    display: none;
  }
  #main-menu .expanded > a::after {
    content: "▼";
    filter: invert(20%);
    font-size: 0.75em;
    margin-left: 0.8rem;
  }
  #main-menu .expanded ul {
    display: block;
    margin: 0;
    padding: 0;
  }
  #main-menu .expanded ul li {
    float: none;
    border: 1px solid #ddd;
    border-bottom: 0;
    min-width: 11rem;
    padding: 0 1.2rem;
  }
  #main-menu .expanded ul li:last-child {
    border-bottom: 1px solid #ddd;
  }
  #main-menu .expanded ul a {
    padding: 0 0 0.1rem;
  }
  #main-menu > ul.menu > .expanded:hover > a + ul.menu,
  #main-menu > ul.menu > .expanded > a:focus + ul.menu {
    margin-top: 0;
    max-height: 100%;
    padding-top: 1.1rem;
  }
  #main-menu > ul.menu > .expanded > ul {
    background-color: rgba(255,255,255,0.95);
    max-height: 0;
    padding-top: 0;
    margin-top: 1.1rem;
    overflow: hidden;
    position: absolute;
    -webkit-transition: max-height 0.3s ease;
    -moz-transition: max-height 0.3s ease;
    -ms-transition: max-height 0.3s ease;
    -o-transition: max-height 0.3s ease;
    transition: max-height 0.3s ease;
    z-index: 2;
  }
  #main-menu > ul.menu > .expanded > ul > .expanded li {
    border-right: 0;
    border-bottom: 0;
    border-left: 0;
  }
  #main-menu > ul.menu > .expanded > ul ul {
    background-color: transparent;
  }
}
.item-list .pager {
  clear: both;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 1em;
  padding-top: 1em;
}
.item-list .pager li {
  border-right: 1px solid #ddd;
  margin: 0;
  padding: 0;
}
.item-list .pager li:last-child {
  border: 0;
}
.item-list .pager a,
.item-list .pager .pager-current {
  padding: 0 0.75em;
}
@media all and (min-width: 768px) {
  .item-list .pager {
    justify-content: flex-start;
  }
}
.node-article {
  margin-bottom: 1em;
}
.node-article > .submitted {
  font-size: 0.9em;
  font-style: italic;
  margin-bottom: 0.5em;
}
.node-article > .links {
  margin-bottom: 0;
}
.node-article > .links li {
  padding: 0;
}
.node-article > .links a::before {
  content: "•";
  margin-right: 0.25em;
}
body:not(.node-type-article) .node-article > .links {
  display: none;
}
.node-teaser p:first-of-type {
  margin-top: 0;
}
.node-teaser p:last-of-type {
  margin-bottom: 0;
}
#site-name#site-name,
#site-slogan {
  margin-right: 0.8rem;
}
#site-name#site-name {
  font-size: 2em;
  font-weight: bold;
  line-height: 1.25;
}
@media all and (max-width: 767px) {
  #site-name#site-name {
    clear: both;
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
  }
}
@media all and (min-width: 768px) {
  #site-name#site-name {
    display: inline-block;
    vertical-align: bottom;
  }
}
#block-system-main {
  margin-bottom: 1em;
}
#breadcrumb {
  font-size: 0.75em;
  font-weight: bold;
}
#breadcrumb .breadcrumb {
  padding-bottom: 0;
}
.layout-container .region-breadcrumb {
  padding-top: 0;
  padding-bottom: 0;
}
.region-breadcrumb p {
  margin: 0;
}
.messages a {
  text-decoration: underline;
}
.page-user .profile .user-picture {
  margin-top: 2em;
}
@media all and (max-width: 480px) {
  .page-user .profile .user-picture {
    display: flex;
    justify-content: center;
    float: none;
  }
}
.search-results {
  margin-top: 1em;
  margin-bottom: 1em;
}
.views-field-title {
  font-size: 1.5em;
  font-weight: bold;
}
@media all and (max-width: 1024px) {
  #skip-link a {
    display: none;
  }
  #user-login-form input[type="text"],
  #user-login-form input[type="password"] {
    width: 20rem;
  }
  #sidebar-first .views-field-title,
  #sidebar-second .views-field-title {
    font-size: 1em;
    font-weight: normal;
  }
}
