.cf::before,
#search-block-form .container-inline::before,
.region-header #block-search-form .content::before,
[role="main"]::before,
.layout-content::before,
.cf::after,
#search-block-form .container-inline::after,
.region-header #block-search-form .content::after,
[role="main"]::after,
.layout-content::after {
  content: " ";
  display: table;
}
.cf::after,
#search-block-form .container-inline::after,
.region-header #block-search-form .content::after,
[role="main"]::after,
.layout-content::after {
  clear: both;
}
.lc {
  clear: both;
  max-width: 1152px;
  margin: 0 auto;
  padding: 0.8rem;
}
.visually-hidden {
  position: absolute !important;
  overflow: hidden;
  width: 1px;
  height: 1px;
  padding: 0;
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
}
.header-icon-font,
.region-header #block-search-form h2 {
  background: rgba(255,255,255,0.95);
  color: transparent;
  cursor: pointer;
  float: right;
  margin: 0;
  overflow: hidden;
  position: relative;
  z-index: 2;
  width: 5.5rem;
  height: 5.4rem;
}
.header-icon-font::before,
.region-header #block-search-form h2::before {
  color: #333;
  float: right;
  font-size: 2.1rem;
  padding: 0.8em;
}
.header-icon-font:hover::before,
.region-header #block-search-form h2:hover::before {
  color: #808080;
}
@media all and (min-width: 768px) {
  .header-icon-font,
  .region-header #block-search-form h2 {
    display: none;
  }
}
@font-face {
  font-family: 'icons';
  src: url("fonts/icons.eot");
  src: url("fonts/icons.eot?#iefix") format("embedded-opentype"), url("fonts/icons.woff") format("woff"), url("fonts/icons.ttf") format("truetype"), url("fonts/icons.svg#icons") format("svg");
  font-weight: normal;
  font-style: normal;
}
.icon-font,
.icon-twitter::before,
.icon-stumbleupon::before,
.icon-pinterest::before,
.icon-linkedin::before,
.icon-google-plus::before,
.icon-search::before,
.icon-play::before,
.icon-menu::before,
.icon-arrow-left::before,
.icon-arrow-right::before,
.icon-bubble::before,
.icon-facebook::before,
.icon-feed::before,
.icon-youtube::before,
.icon-tag::before,
.icon-tumblr::before,
.icon-instagram::before,
.icon-podcast::before,
.icon-android::before,
.icon-apple::before,
.icon-envelope::before,
.icon-arrow::before,
#search-block-form .form-item-search-block-form::after,
.region-header #block-search-form h2::before {
  font-family: 'icons';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}
.icon-twitter::before {
  content: "\74";
}
.icon-stumbleupon::before {
  content: "\75";
}
.icon-pinterest::before {
  content: "\70";
}
.icon-linkedin::before {
  content: "\69";
}
.icon-google-plus::before {
  content: "\67";
}
.icon-search::before,
#search-block-form .form-item-search-block-form::after,
.region-header #block-search-form h2::before {
  content: "\73";
}
.icon-play::before {
  content: "\61";
}
.icon-menu::before {
  content: "\21";
}
.icon-arrow-left::before {
  content: "\23";
}
.icon-arrow-right::before {
  content: "\24";
}
.icon-bubble::before {
  content: "\25";
}
.icon-facebook::before {
  content: "\66";
}
.icon-feed::before {
  content: "\27";
}
.icon-youtube::before {
  content: "\79";
}
.icon-tag::before {
  content: "\28";
}
.icon-tumblr::before {
  content: "\6d";
}
.icon-instagram::before {
  content: "\22";
}
.icon-podcast::before {
  content: "\26";
}
.icon-android::before {
  content: "\29";
}
.icon-apple::before {
  content: "\2a";
}
.icon-envelope::before {
  content: "\2b";
}
.icon-arrow::before {
  content: "\61";
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
}
@media all and (max-width: 480px) {
  .more-link {
    text-align: center;
  }
}
#search-block-form {
  float: right;
  margin-top: 0.8rem;
}
#search-block-form .container-inline > div {
  display: block;
  float: left;
}
#search-block-form .container-inline label {
  display: none;
}
#search-block-form .form-item,
#search-block-form .form-actions {
  background: rgba(255,255,255,0.95);
}
#search-block-form .form-item-search-block-form {
  font-size: 1em;
  margin-bottom: 0;
}
#search-block-form .form-item-search-block-form::after {
  color: #000;
  position: absolute;
  top: 2rem;
  right: 1.7rem;
  z-index: 1;
}
#search-block-form input {
  background: transparent;
  height: 4rem;
}
#search-block-form input[id^="edit-search-block-form"] {
  width: 11.5em;
}
#search-block-form input[id^="edit-submit"] {
  border: 1px solid #808080;
  border-left: 0;
  color: transparent;
  font-size: 0.85em;
  padding-right: 0;
  padding-left: 0;
  position: relative;
  width: 5rem;
}
#search-block-form input[id^="edit-submit"]:hover {
  background: rgba(0,0,0,0.3);
}
@media all and (max-width: 767px) {
  #search-block-form {
    margin-top: 0;
    max-height: 0;
    overflow: hidden;
    position: absolute;
    top: 5.5rem;
    right: 0;
    z-index: 2;
  }
  .open #search-block-form {
    max-height: 100%;
    overflow: visible;
  }
  #search-block-form input {
    height: 3.7rem;
  }
  #search-block-form .form-item-search-block-form::after {
    top: 1.1rem;
  }
}
#main-menu h2 {
  border-left: 1px solid #ddd;
}
@media all and (min-width: 768px) {
  #main-menu {
    padding-bottom: 0;
  }
}
.region-header {
  clear: none;
}
.region-header #block-search-form {
  position: relative;
}
.region-header #block-search-form h2 {
  border-left: 1px solid #ddd;
}
.region-header #block-search-form .content::before {
  content: "";
  display: inline;
}
.region-header #block-search-form .content::after {
  clear: none;
}
.page-search .region-header #block-search-form {
  display: none;
}
@media all and (max-width: 767px) {
  .region-header #block-search-form {
    margin: 0;
  }
}
@media all and (max-width: 480px) {
  #sidebar-second {
    text-align: center;
  }
}
@media all and (max-width: 767px) {
  .layout-content {
    clear: both;
  }
}
@media all and (min-width: 768px) {
  .layout-content,
  .two-sidebars #sidebar-first {
    float: left;
    width: 66.66666666666667%;
    padding-right: 1em;
  }
  .no-sidebars .layout-content {
    width: 100%;
  }
  .one-sidebar #sidebar-first {
    display: flex;
    justify-content: center;
    padding-right: 0;
  }
  #sidebar-second {
    float: left;
    width: 33.333333333333336%;
    padding: 0 0 0 1em;
  }
}
@media all and (min-width: 481px) and (max-width: 767px) {
  #block-system-main {
    position: relative;
  }
  #block-system-main .views-field-field-image {
    padding-top: 75%;
  }
  #block-system-main .views-field-field-image .field-content {
    position: absolute;
    top: 0;
    left: 0;
  }
  #block-system-main .views-field-title {
    background: rgba(0,0,0,0.5);
    overflow: hidden;
    padding: 0.8rem;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
  }
  #block-system-main .views-field-title a {
    color: #fff;
  }
}
@media all and (max-width: 480px) {
  #block-views-recent-content-block-2 h2,
  .view-id-recent_content.view-display-id-page_1 h2 {
    text-align: center;
  }
  #block-views-recent-content-block-2 .field-name-field-image,
  .view-id-recent_content.view-display-id-page_1 .field-name-field-image {
    display: flex;
    justify-content: center;
  }
  #block-views-recent-content-block-2 .field-name-field-image a,
  .view-id-recent_content.view-display-id-page_1 .field-name-field-image a {
    display: block;
    max-width: 22.5rem;
  }
}
@media all and (max-width: 767px) {
  #block-views-recent-content-block-2 .node-teaser > h2,
  .view-id-recent_content.view-display-id-page_1 .node-teaser > h2 {
    font-size: 1.8rem;
  }
}
@media all and (min-width: 481px) {
  #block-views-recent-content-block-2 .item-list,
  .view-id-recent_content.view-display-id-page_1 .item-list {
    margin-top: 0.5em;
  }
  #block-views-recent-content-block-2 .item-list .views-row,
  .view-id-recent_content.view-display-id-page_1 .item-list .views-row {
    clear: both;
    float: left;
    margin-bottom: 2.4rem;
  }
  #block-views-recent-content-block-2 .node-teaser > h2,
  .view-id-recent_content.view-display-id-page_1 .node-teaser > h2,
  #block-views-recent-content-block-2 .node-teaser .field-name-body p,
  .view-id-recent_content.view-display-id-page_1 .node-teaser .field-name-body p {
    float: right;
    padding: 0 1.6rem;
    width: 66.66666666666667%;
  }
  #block-views-recent-content-block-2 .node-teaser > h2,
  .view-id-recent_content.view-display-id-page_1 .node-teaser > h2 {
    margin-top: 0;
  }
  #block-views-recent-content-block-2 .node-teaser img,
  .view-id-recent_content.view-display-id-page_1 .node-teaser img {
    float: left;
    height: auto;
    width: 33.333333333333336%;
  }
}
@media all and (min-width: 768px) {
  .front .layout-content {
    margin-bottom: 2rem;
  }
}
.front .layout-content .region-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.front .layout-content #block-system-main {
  margin-bottom: 0.5em;
}
.front .layout-content #block-system-main img {
  display: block;
}
.front .layout-content #block-system-main .views-field-title a {
  color: #fff;
  display: block;
  font-size: 2.4rem;
  font-weight: bold;
  line-height: 1.2;
}
@media all and (max-width: 480px) {
  .front .layout-content #block-system-main .views-field-title {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    height: 8.7rem;
  }
}
@media all and (max-width: 767px) {
  .front .layout-content #block-system-main .views-field-title {
    background: rgba(0,0,0,0.8);
    overflow: hidden;
    padding: 0 0.8rem;
  }
  .front .layout-content #block-system-main .views-field-title a {
    font-size: 1.8rem;
  }
}
@media all and (min-width: 481px) and (max-width: 767px) {
  .front .layout-content #block-system-main .views-field-title {
    padding-top: 19%;
  }
  .front .layout-content #block-system-main .views-field-title .field-content {
    display: block;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
  }
}
@media all and (min-width: 768px) {
  .front .layout-content #block-system-main {
    position: relative;
  }
  .front .layout-content #block-system-main .views-field-field-image {
    min-height: 7.68rem;
  }
  .front .layout-content #block-system-main .views-field-title {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: rgba(0,0,0,0.5);
    padding: 1.5em;
  }
}
.front .layout-content .region-content > .views-row {
  margin-bottom: 0.5em;
  position: relative;
}
.front .layout-content .region-content > .views-row .views-field-field-image {
  min-height: 17rem;
  position: relative;
  z-index: 0;
}
.front .layout-content .region-content > .views-row .views-field-field-image img {
  display: block;
}
.front .layout-content .region-content > .views-row .views-field-title {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  color: #fff;
}
.front .layout-content .region-content > .views-row .views-field-title a {
  background: rgba(0,0,0,0.5);
  color: #fff;
  display: block;
  padding: 0.5em;
  font-size: 1.8rem;
  font-weight: bold;
  line-height: 1.2;
}
@media all and (max-width: 480px) {
  .front .layout-content .views-field-title {
    text-align: center;
  }
}
@media all and (max-width: 767px) {
  .front .layout-content .region-content > .views-row .views-field-title a {
    font-size: 1.7rem;
  }
}
@media all and (min-width: 768px) {
  .front .layout-content .region-content > .views-row {
    padding-top: 0.8rem;
    width: calc((100% / 3) - (3.2rem / 3));
  }
}
.front.page-hero .layout-content {
  border-bottom: 2px solid #eee;
  margin-bottom: 3.2rem;
  padding: 0 0 3.2rem;
  width: 100%;
}
@media all and (min-width: 481px) and (max-width: 767px) {
  .front.page-hero .layout-content #block-system-main,
  .front.page-hero .layout-content .region-content > .views-row {
    width: calc(50% - 0.4rem);
  }
}
