#comments
  border-top: 1px solid $gray-light-3
  margin-top: 2em
  h2
    margin: 0.667em 0 0
  .comment
    display: flex 
    margin-top: 0.75em
    padding-bottom: 0.5em
    .submitted
      min-height: 11em
      width: 12em
      > span
        display: block
        font-size: 0.75em
        line-height: 1.333
        margin-left: 2px
    .content
      padding-bottom: 0.5em
      p
        margin-bottom: 0
    .submitted + .content
      width: calc(100% - 12em)
  .user-picture
    img
      display: block
      border: 1px solid $gray-light-2
      margin-bottom: 0.5em
      width: 6.25em
  .permalink
    font-size: 0.75em
    display: block
    text-decoration: underline
  .username
    font-weight: bold
    &::before
      content: "\A"
      white-space: pre
    &::after
      content: "\A"
      white-space: pre
  .comment-reply
    padding: 0
    a::before
      content: "•"
      margin-right: 0.25em
  .comment:last-of-type
    border-bottom: 1px solid $gray-light-3
  .links
    display: block
    margin-top: 0.25em;
    margin-bottom: 0;
    li
      display: list-item
  .indented
    margin-left: 0.75em
    .comment
      border-left: 1px solid $gray-light-3
  @media all and (max-width: $bp-xs-max)
    .comment
      display: block
      margin: 0
      padding: 0
      overflow: hidden
      .submitted
        display: flex
        flex-direction: column
        justify-content: flex-end
        height: 6.25em
        margin-bottom: 0.5em
        min-height: 0
        position: relative
        width: auto
        > a,
        > span
          display: block
          margin: 0
          max-width: calc(100% - 6.25em)
      .submitted + .content
        width: auto
      .content
        padding-bottom: 0
    .user-picture
      position: absolute
      right: 0
      bottom: 0
      img
        margin: 0
    .username
      &::before
        content: ""
      &::after
        content: ""
    .indented
      .comment
        > *
          margin-left: 2px
    .comment:last-of-type
      padding-bottom: 1em
