<div class="item-list">
  <ul class="pager">
    <li class="pager-first first"><a href="#">« First</a></li>
    <li class="pager-previous"><a href="#">‹ Previous</a></li>
    <li class="pager-item"><a title="Go to page 1" href="#">1</a></li>
    <li class="pager-item"><a title="Go to page 2" href="#">2</a></li>
    <li class="pager-item"><a title="Go to page 3" href="#">3</a></li>
    <li class="pager-item"><a title="Go to page 4" href="#">4</a></li>
    <li class="pager-item"><a title="Go to page 5" href="#">5</a></li>
    <li class="pager-next"><a href="#">Next ›</a></li>
    <li class="pager-last last"><a href="#">Last »</a></li>
  </ul>
</div>
