<div class="views-field">
  <span class="field-content"><a href="{{ url }}">{{ article_title }}</a></span>
</div>  
<div class="views-field">
  <span class="field-content">{{ timestamp }}</span>
</div>
